@model MMUniGraduation.ViewModels.AssessmentsViewModel

@{
    var programs = Model.StudyPrograms
        .Select(x => new SelectListItem(x.Value, x.Key));
    var courses = Model.Courses
        .Select(x => new SelectListItem(x.Value, x.Key));
    var lectures = Model.Lectures
        .Select(x => new SelectListItem(x.Value, x.Key));
}

<style>
    hr {
        border-color: lightblue;
    }
</style>
<script>
    function optionSelectedProgram(value) {
        alert(value)

    }
</script>

<h2 style="text-align: center; padding-top: 1em; ">Assessment Page</h2>

<div style="padding-top: 1em;">
    <h3 onclick="showFilters()" style="text-align: center; padding-top: 1em; ">
        Filters
    </h3>

    <form asp-controller="Lector" asp-action="Assessment" enctype="multipart/form-data">
        <div id="show-filters">
            <label>Select program</label>
            @Html.DropDownListFor(x => Model.ProgramId, new SelectList(programs, "Value", "Text"), "---Select Program---", htmlAttributes: new { @class = "form-control", id = "Program" })
            <br />

            <label>Select course</label>
            @Html.DropDownListFor(x => Model.CourseId, new SelectList(courses, "Value", "Text"), "---Select course---", htmlAttributes: new { @class = "form-control", @id = "Course" })
            <br />

            <label>Select lecture</label>
            @Html.DropDownListFor(x => Model.LectureId, new SelectList(lectures, "Value", "Text"), "---Select lecture---", htmlAttributes: new { @class = "form-control", @id = "Lecture" })
            <br />

            <label>Select kind of assessment</label>
            <select asp-for="KindOfAssessment" class="form-control" id="KindOfAssessment">
                <option value="AllAssessments">All</option>
                <option value="Homeworks">Homeworks</option>
                <option value="ExamSolutions">Exam solutions</option>
                <option value="SkippingExamSolutions" id="Skip">Skipping exam solutions</option>
            </select>
            <br />
            <br />
            <button class="btn btn-outline-info" style="text-align:right;">Search</button>
        </div>
    </form>
</div>
<br />

<div class="container">
    <h4 style="text-align: center; padding-top: 1em;">Аssessment tasks</h4>
    @foreach (var course in Model.AllCourses)
    {
        @foreach (var file in course.SkippingAssignments)
        {
            <hr />
            <div class="row">
                <div class="col">
                    <p>Course: @course.Signature @course.Name</p>
                    <p>Skipping аssignment solutions:</p>
                    <ul>
                        @Html.ActionLink(file.Name, "DownloadFile", new { Controller = "Course", fileName = file.Id + '.' + file.Extension, type = "skippingExamSolution" })
                    </ul>
                </div>
                <div class="col">
                    <form asp-controller="Lecture" asp-action="EditSkippingAssignment" enctype="multipart/form-data">
                        <p>Student ID: @file.StudentId</p>
                        <p>Student Name: @Model.Students.FirstOrDefault(x => x.UserId == file.StudentId).FirstName @Model.Students.FirstOrDefault(x => x.UserId == file.StudentId).LastName </p>
                        <label>Grade/Points:</label>
                        <input asp-for="HomeworkGrade" type="text" class="form-control" placeholder="@file.Grade" value="@file.Grade"><br />
                        <label>Comment:</label>
                        <textarea asp-for="HomeworkComment" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="@file.Comment"></textarea>
                        <input asp-for="HomeworkId" value="@file.Id" class="form-control" style="visibility:hidden;" \>
                        <button class="btn btn-outline-info" style="text-align:right;"><i class="fa fa-save"></i> Save</button>
                        <input asp-for="CourseId" value="@course.Id" class="form-control" style="visibility:hidden;" \>
                    </form>
                </div>

            </div>
        }

        @foreach (var lecture in course.Lectures)
        {
            foreach (var file in lecture.Homeworks)
            {
                <hr />
                <div class="row">
                    <div class="col">
                        <p>Course: @course.Signature @course.Name</p>
                        <p>Lecture: @lecture.Name</p>
                        @if (lecture.IsExam)
                        {
                            <p>Exam solution:</p>
                            <ul>
                                @Html.ActionLink(file.HomeworkName, "DownloadFile", new { Controller = "Course", fileName = file.Id + '.' + file.Extension, type = "examSolution" })
                            </ul>
                        }
                        else
                        {
                            <p>Homework solutions:</p>
                            <ul>
                                @Html.ActionLink(file.HomeworkName, "DownloadFile", new { Controller = "Course", fileName = file.Id + '.' + file.Extension, type = "homework" })
                            </ul>
                        }
                    </div>
                    <div class="col">
                        <form asp-controller="Lecture" asp-action="EditHomework" enctype="multipart/form-data">
                            @*<p>Student ID: @file.StudentId</p>*@
                            <p>Homework due date: @lecture.EndDateTimeForHW.ToString("dd/MM/yyyy HH:mm")</p>
                            <p>Student Name: @Model.Students.FirstOrDefault(x => x.UserId == file.StudentId).FirstName @Model.Students.FirstOrDefault(x => x.UserId == file.StudentId).LastName </p>
                            <label>Grade:</label>
                            <input asp-for="HomeworkGrade" type="text" class="form-control" placeholder="@file.Grade" value="@file.Grade"><br />
                            <label>Comment:</label>
                            <textarea asp-for="HomeworkComment" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="@file.Comment"></textarea>
                            <input asp-for="HomeworkId" value="@file.Id" class="form-control" style="visibility:hidden;" \>
                            <button class="btn btn-outline-info" style="text-align:right;"><i class="fa fa-save"></i> Save</button>
                            <input asp-for="CourseId" value="@course.Id" class="form-control" style="visibility:hidden;" \>
                        </form>
                    </div>

                </div>
            }
        }
    }
</div>
@section Scripts {
    <script type="text/javascript">
    $('#Program').change(function () {
                //we get selected value of programs
        var selectedProgram = $("#Program").val();
                var coursesSelect = $('#Course');
        coursesSelect.empty();
        coursesSelect.append($('<option/>', {
            value: 0,
            text: "---Select course---"
        }));
        if (selectedProgram != null && selectedProgram != '') {
                    //the result from GetCourses(int programId) is stored in courses object

            $.getJSON('@Url.Action("RelatedCourses")', { programId: selectedProgram }, function (dropdownData) {
            //$.getJSON("./Course/RelatedCourses", { programId: selectedProgram }, function (dropdownData) {
                        if (dropdownData != null && !jQuery.isEmptyObject(dropdownData))
                        {
                            $.each(dropdownData, function (index, data) {
                                coursesSelect.append($('<option/>', {
                                    value: data.value,
                                    text: data.text
                                }));
                            });
                        };
                    });
                }
    });

        $('#Course').change(function () {
                //we get selected value of programs
        var selectedCourse = $("#Course").val();
                var lecturesSelect = $('#Lecture');
        lecturesSelect.empty();
        lecturesSelect.append($('<option/>', {
            value: 0,
            text: "---Select lecture---"
        }));
        if (selectedCourse != null && selectedCourse != '') {
                    //the result from GetLectures(int programId) is stored in lectures object
            $.getJSON('@Url.Action("RelatedLectures")', { courseId: selectedCourse }, function (dropdownData) {
                        if (dropdownData != null && !jQuery.isEmptyObject(dropdownData))
                        {
                            $.each(dropdownData, function (index, data) {
                                lecturesSelect.append($('<option/>', {
                                    value: data.value,
                                    text: data.text
                                }));
                            });
                };
                    });
                }
        });

    </script>
}