@model MMUniGraduation.ViewModels.AllCoursesViewModel

<style>
    .img-box {
        width: 100%;
        height: 100%;
    }

    .p-desc {
        text-align: justify;
    }

    button {
        border-radius: 1em;
    }

    hr {
        border-color: lightblue;
    }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }
</style>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-heading alert-dismissible" style="color: darkred; font-weight: bold; text-align: center; border-block: solid; border-color: darkred;">
        @this.TempData["Message"]
    </div>
}

@if (@User.IsInRole("Admin"))
{
    <h2 style="text-align: center; padding-top: 1em; ">Edit programs and courses</h2>
}
else
{
    <h2 style="text-align: center; padding-top: 1em; ">Edit courses</h2>
}

<br />
<div class="container">
    <hr />
    @if (@User.IsInRole("Admin"))
    {
        <h4 style="text-align: center; padding-top: 1em; ">Programs</h4>
        <hr />
        @foreach (var program in Model.AllPrograms)
        {
            <div class="row">
                <div class="col">
                    <p>Program: @program.Name</p>
                </div>
                <hr />
                @*<a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@program.Id" asp-controller="Course" asp-action="Index"><i class="fa fa-save"></i> View</a>*@
                @*<a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Edit"><i class="fa fa-save"></i> Edit</a>*@
                <a class="btn btn-outline-info" style="text-align:right;" asp-route-programId="@program.Id" asp-controller="StudyProgram" asp-action="Delete" onclick="if (!confirm('Are you sure you want to delete?')) { return false }"><i class="fa fa-save"></i> Delete</a>
            </div>
            <hr />
        }
        @if (Model.AllCourses.Any())
        {
            <h4 style="text-align: center; padding-top: 1em; ">Courses</h4>
            <hr />
        }
    }

    @foreach (var course in Model.AllCourses)
    {
        <div class="row">
            <div class="col">
                <p>Course: @course.Signature @course.Name</p>
            </div>
            <hr />
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Index"><i class="fa fa-save"></i> View</a>
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Edit"><i class="fa fa-save"></i> Edit</a>
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Delete" onclick="if (!confirm('Are you sure you want to delete?')) { return false }"><i class="fa fa-save"></i> Delete</a>
        </div>
        <hr />
    }
</div>