@model MMUniGraduation.ViewModels.AllCoursesViewModel

<style>
    .img-box {
        width: 100%;
        height: 100%;
    }

    .p-desc {
        text-align: justify;
    }

    button {
        border-radius: 1em;
    }

    hr {
        border-color: lightblue;
    }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }
</style>

<h2 style="text-align: center; padding-top: 1em; ">Edit courses</h2>

<br />
<div class="container">
    <hr />
    @foreach (var course in Model.AllCourses)
    {
        <div class="row">
            <div class="col">
                <p>Course: @course.Signature @course.Name</p>
            </div>
            <hr />
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Index"><i class="fa fa-save"></i> View</a>
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Edit"><i class="fa fa-save"></i> Edit</a>
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Delete" onclick="if (!confirm('Are you sure you want to delete?')) { return false }"><i class="fa fa-save"></i> Delete</a>
        </div>
        <hr />
    }
</div>