@model MMUniGraduation.ViewModels.AllCoursesViewModel
@{
}

<style>
    .img-box {
        width: 100%;
        height: 100%;
    }

    .p-desc {
        text-align: justify;
    }

    button {
        border-radius: 1em;
    }

    hr {
        border-color: lightblue;
    }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }

    /*#show-filters {
        display: none;
    }

    #close-filters-svg {
        display: none;
    }*/
</style>


<h2 style="text-align: center; padding-top: 1em; ">Lector courses page</h2>
<!-- <h1 style="padding-top:25px; text-align:center;">@ViewData["Title"]</h1>   -->
<div style="text-align: center; padding-top: 1em;">
    <h3>Filters</h3>

    <div>
        <!--
        <label>Course program</label>
        <select asp-for="StudyProgramId" class="form-control" asp-items="studyPrograms"></select>
        <br />
        -->
        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search"  class="btn btn-outline-info" />
            </p>
        }

        <button type="button" class="btn btn-outline-info">search</button>
    </div>
</div>

<br />
<div class="container">
    @*<h4 style="text-align: center; padding-top: 1em;">Courses</h4>*@
    <hr />
    @foreach (var course in Model.AllCourses)
    {
        <div class="row">
            <div class="col">
                <p>Course: @course.Signature @course.Name</p>
            </div>
            <hr />
            @*<a class="btn btn-outline-info" asp-route-courseId="@course.Id" asp-controller="Student" asp-action="Index" style="text-decoration: none;">Добави курс!</a>*@
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Index"><i class="fa fa-save"></i> View</a>
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Edit"><i class="fa fa-save"></i> Edit</a>
            <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="Delete"><i class="fa fa-save"></i> Delete</a>
        </div>
        <hr />
    }
    <!--<div class="row">
        <div class="col">
            <p>Course: C# Basic</p>
        </div>
        <hr />-->
    @*<a class="btn btn-outline-info" asp-route-courseId="@course.Id" asp-controller="Student" asp-action="Index" style="text-decoration: none;">Добави курс!</a>*@
    <!--<a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="1" asp-controller="Course" asp-action="Index"><i class="fa fa-save"></i> View</a>
        <a class="btn btn-outline-info" style="text-align:right;" asp-route-courseId="1" asp-controller="Course" asp-action="Edit"><i class="fa fa-save"></i> Edit</a>
        <a class="btn btn-outline-info" style="text-align:right;" asp-area="" asp-controller="Course" asp-action="Delete"><i class="fa fa-save"></i> Delete</a>
    </div>
    <hr />-->
    @*<div class="row">
            <div class="col">
                <p>Course: C# Basic</p>
                <p>Lecture: Loops</p>
                <p>Homework solution:</p>
                <button class="btn btn-outline-info"><i class="fa fa-download"></i> Download</button>
                <p>Advanced Homework Name:</p>
                <button class="btn btn-outline-info"><i class="fa fa-download"></i> Download</button>
            </div>
            <div class="col">
                <p>Name: Dimitar Nikolaev Kolev</p>
                <p>ID: M762535</p>
                <input type="text" class="form-control" placeholder="Grade/Points"><br />
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Comment..."></textarea>
            </div>
        </div>*@
</div>

