@{
    ViewData["Title"] = "Home Page";
}
@model MMUniGraduation.ViewModels.IndexViewModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-heading alert-dismissible" style="color: mediumseagreen; font-weight: bold; text-align: center">
        @this.TempData["Message"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome to MMUNI</h1>
</div>
<br />
<br />
<h3 style="text-align:center; padding-bottom: 1em; ">Main Programs</h3>
<div class="card-deck">
    @foreach (var program in Model.StudyPrograms)
    {
        <div class="card">
            <img class="card-img-top" src="@program.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@program.Name</h5>
                <p class="card-text">@program.Description</p>
            </div>
            <div class="card-footer">
                <div class="card-footer">
                    @*<small class="text-muted">Last updated 3 mins ago</small>*@
                    @*<a class="nav-link text-dark" asp-route-courseId="@program.Id" asp-controller="Course" asp-action="Index" style="text-decoration: none;">View course information</a>*@
                    <a class="nav-link text-dark" asp-route-studyProgramId="@program.Id" asp-controller="Course" asp-action="AllCourses" style="text-decoration: none;">View all @program.Name courses</a>

                    @*<div>
            <a class="btn btn-outline-info" asp-route-courseId="@program.Id" asp-controller="Course" asp-action="Index" style="text-decoration: none;">View course information</a>
        </div>*@
                </div>
            </div>
        </div>
    }
</div>
<br />

<div class="col text-center">

    <a href="/Identity/Account/Login">
        @*<button type="button" class="btn btn-success">Запиши своя първи курс !</button>
            <br />*@
        <br />
    </a>
    <button type="button" class="btn btn-info">Запиши се още сега!</button>
</div>
