@model IEnumerable<MMUniGraduation.Models.Course>
<style>
    .img-box {
        width: 100%;
        height: 100%;
    }

    .p-desc {
        text-align: justify;
    }

    button {
        border-radius: 1em;
    }
</style>

<h2 style="text-align: center; padding-top: 1em; ">Our Courses</h2>
<hr />
@foreach (var course in Model)
{
    <div class="row">
        <div class="col" asp-route-id="@course.Id">
            <h5>@course.Signature @course.Name</h5>
            <p class="p-desc">@course.Description</p>
            <div>
                <a class="btn btn-outline-info" asp-route-courseId="@course.Id" asp-controller="Course" asp-action="AssignUserToCourse" style="text-decoration: none;">Започни сега!</a>
            </div>
            <div>
                <a class="btn btn-outline-info" asp-route-courseId="@course.Id" asp-controller="Student" asp-action="Index" style="text-decoration: none;">Добави курс!</a>
            </div>
        </div>
    </div>
    <hr />
}
<div>
    <a asp-controller="StudyProgram" asp-action="Index">Go Back</a>
</div>