@model MMUniGraduation.ViewModels.IndexCourseViewModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-heading alert-dismissible" style="color: mediumseagreen; font-weight: bold; text-align: center">
        @this.TempData["Message"]
    </div>
}

<h1 style="padding-top:25px; text-align:center;">@ViewData["Title"]</h1>
<div style="text-align:center;">
    <h3>@Model.Course.Signature @Model.Course.Name</h3>
    <p>@Model.Course.Description</p>
</div>
<br />
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <label>Skip the course by passing the exam before @Model.Course.SkipCoursEndDate </label>
        </div>
        <div class="col">
            <div class="form-check" style="text-align:right;">
                @if (Model.Course.SkipCoursEndDate >= DateTime.Now && User.IsInRole("Student"))
                {
                    <a class="btn btn-outline-info" asp-route-courseId="@Model.Course.Id" asp-route-goToExam="true" asp-controller="Course" asp-action="Index" style="text-decoration: none;">Start the exam</a>
                }
                <br />
            </div>
        </div>
    </div>
</div>
<hr />
<br />

@{ int i = 0;
    foreach (var lecture in Model.Course.Lectures)
    {
        if (lecture.DateTimeToShow <= DateTime.Now || Model.SkipCourse || User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <div class="container">
                <div class="card">
                    <div class="card-header" id="accordion_@i">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne_@i" aria-expanded="false" aria-controls="collapseOne">
                                @lecture.Name
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_@i">
                        <div class="card-body">
                            @lecture.Description
                        </div>
                        @if (lecture.IsExam == false)
                        {
                        <div class="card-body">
                            Date of performance: @lecture.DateTimeToShow
                            <br />
                            <br />
                            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || Model.Student.ShowVideoMaterials)
                            {
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@lecture.VideoUrl" allowfullscreen></iframe>
                                </div>
                            }

                        </div>
                        }
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                            </svg>
                                            @*@if (lecture.IsExam)
                                                {
                                                    <i class="bi bi-file-earmark-text-fill">Exam materials:</i>
                                                }
                                                else
                                                {
                                                    <i class="bi bi-file-earmark-text-fill">Lecture materials:</i>
                                                }*@
                                            <i class="bi bi-file-earmark-text-fill">Lecture materials:</i>

                                        </li>
                                        @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || Model.Student.ShowTextMaterials)
                                        {
                                            @foreach (var file in lecture.TextMaterials)
                                            {
                                                <ul>
                                                    @Html.ActionLink(file.FileName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "lecture" })
                                                </ul>
                                            }
                                        }
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                            </svg>
                                            <i class="bi bi-file-earmark-text-fill">Homework materials:</i>
                                        </li>
                                        @foreach (var file in Model.HWMaterials)
                                        {
                                            <ul>
                                                @Html.ActionLink(file.FileName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "lecture" })
                                            </ul>
                                        }
                                    </ul>
                                </div>
                                @if (User.IsInRole("Student"))
                                {
                                    @if (lecture.IsFinal)
                                    {
                                        <div class="col">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                </svg>
                                                <i class="bi bi-file-earmark-text-fill">Exam solution:</i>
                                            </li>
                                            @if (lecture.Homeworks.Any())
                                            {
                                                @foreach (var file in lecture.Homeworks)
                                                {
                                                    <ul>
                                                        @Html.ActionLink(file.HomeworkName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "examSolution" })
                                                        <br />
                                                        <label>Grade/Points: @file.Grade</label>
                                                        <br />
                                                        <label>Comment: @file.Comment</label>
                                                        <br />
                                                    </ul>
                                                }
                                            }
                                            @if (lecture.EndDateTimeForHW >= DateTime.Now && lecture.Homeworks.Count() == 0 && !Model.SkipCourse)
                                            {
                                                @using (Html.BeginForm("AddExamSolution", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.TextBox("file", "", new { type = "file" })
                                                    <input type="text" name="lectureId" value="@lecture.Id" style="visibility:hidden;" />
                                                    <input type="submit" value="Upload" />
                                                }
                                            }
                                            else if (Model.EndDateTime >= DateTime.Now && lecture.Homeworks.Count() == 0 && Model.SkipCourse)
                                            {
                                                @using (Html.BeginForm("AddExamSolution", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.TextBox("file", "", new { type = "file" })
                                                    <input type="text" name="lectureId" value="@lecture.Id" style="visibility:hidden;" />
                                                    <input type="submit" value="Upload" />
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                </svg>
                                                <i class="bi bi-file-earmark-text-fill">Homework:</i>
                                            </li>
                                            @if (lecture.Homeworks.Any())
                                            {
                                                @foreach (var file in lecture.Homeworks)
                                                {
                                                    <ul>
                                                        @Html.ActionLink(file.HomeworkName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "homework" })
                                                        <br />
                                                        <label>Grade/Points: @file.Grade</label>
                                                        <br />
                                                        <label>Comment: @file.Comment</label>
                                                        <br />
                                                    </ul>
                                                }
                                            }
                                            @if (lecture.EndDateTimeForHW >= DateTime.Now || lecture.Homeworks.Count() == 0)
                                            {
                                                @using (Html.BeginForm("AddHomework", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.TextBox("file", "", new { type = "file" })
                                                    <input type="text" name="lectureId" value="@lecture.Id" style="visibility:hidden;" />
                                                    <input type="submit" value="Upload" />
                                                }
                                            }

                                        </div>
                                    }
                                }
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        i++;
    }
}
<div>
    <a asp-controller="Course" asp-action="AllCourses" asp-route-studyProgramId="@Model.Course.StudyProgramId">Go Back</a>
</div>