@model MMUniGraduation.ViewModels.IndexCourseViewModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-heading alert-dismissible" style="color: mediumseagreen; font-weight: bold; text-align: center">
        @this.TempData["Message"]
    </div>
}

<h1 style="padding-top:25px; text-align:center;">@ViewData["Title"]</h1>
<div style="text-align:center;">
    <h3>@Model.Course.Signature </h3>
    <h3>@Model.Course.Name</h3>
    @*<p>@Model.Course.Description</p>*@
</div>
<br />
<hr />
<div class="container">
    <div class="row" style="text-align:center">
        <div class="col" style="text-align:left">
            <h6>Course info:</h6>
            <p>@Model.Course.Description</p>
        </div>
        <div class="col" style="text-align:center">
            <img src="~/img/@Model.Image" alt="Upload image" class="img-fluid rounded-circle shadow-lg" style="width: 180px;">
        </div>
        <div class="col" style="text-align:right">
            <h6>@Model.Lector.FirstName @Model.Lector.LastName</h6>
            <p>@Model.Lector.Bio</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <label>Skip the course by passing the exam before: @Model.Course.SkipCoursEndDate.ToString("dd/MM/yyyy HH:MM") </label>
        </div>
        <div class="col">
            <div class="form-check" style="text-align:right;">
                @if (Model.Course.SkipCoursEndDate >= DateTime.Now && User.IsInRole("Student") && Model.StudentCourse.EndDateTimeForSkipping == null)
                {
                    <a class="btn btn-outline-info" asp-route-courseId="@Model.Course.Id" asp-route-goToExam="true" asp-controller="Course" asp-action="Index" style="text-decoration: none;">Start the exam</a>
                }
                <br />
            </div>
        </div>
    </div>
    <br />
    @if (Model.StudentCourse.EndDateTimeForSkipping != null && Model.StudentCourse.EndDateTimeForSkipping >= DateTime.Now && User.IsInRole("Student") || User.IsInRole("Teacher") || User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col">
                @foreach (var file in Model.Course.SkippingCourseMaterials)
                {
                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin") ||
                                (Model.StudentCourse.EndDateTimeForSkipping != null))
                    //(Model.Student.ShowTextMaterials && file.DateTimeToShow <= DateTime.Now))
                    {
                        <ul>
                            @Html.ActionLink(file.FileName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "lecture" })
                        </ul>
                    }
                }
            </div>
            <div class="col">
                @if (Model.Course.SkipCoursEndDate >= DateTime.Now && Model.StudentCourse.EndDateTimeForSkipping >= DateTime.Now &&
        !Model.Course.SkippingAssignments.Any())
                {
                    @using (Html.BeginForm("AddSkippingExamSolution", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.TextBox("file", "", new { type = "file" })
                        <input type="text" name="courseId" value="@Model.Course.Id" style="visibility:hidden;" />
                        <input type="submit" value="Upload" />
                    }
                }

                @foreach (var file in Model.Course.SkippingAssignments)
                {
                    <ul>
                        @Html.ActionLink(file.Name, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "skippingExamSolution" })
                    </ul>
                    <ul><label>Grade: @file.Grade</label></ul>
                }
            </div>
        </div>
    }
</div>
<hr />
<br />

@{ int i = 0;
    //decimal grade = 0;
    foreach (var lecture in Model.Course.Lectures)
    {
        //int cnt = 0;
        //if (lecture.RequiredGrade != 0 && lecture.ParetntLectureId != 0)
        //{
        //    if (lecture.RequiredGrade > grade)
        //    {
        //        break;
        //    }
        //}
        //foreach (var g in lecture.Homeworks)
        //{
        //    grade += g.Grade;
        //    cnt++;
        //}
        //grade /= cnt;

        if (lecture.DateTimeToShow <= DateTime.Now || Model.SkipCourse || User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <div class="container">
                <div class="card">
                    <div class="card-header" id="accordion_@i">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne_@i" aria-expanded="false" aria-controls="collapseOne">
                                @lecture.Name
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_@i">
                        <div class="card-body">
                            @lecture.Description
                        </div>
                        <div class="card-body">
                            @if (lecture.IsExam == true)
                            {
                                <p>Date of performance: @lecture.DateTimeToShow.ToString("dd/mm/yyyy HH:MM")</p>
                                <br />
                            }

                            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || Model.Student.ShowVideoMaterials)
                            {
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@lecture.VideoUrl" allowfullscreen></iframe>
                                </div>
                            }
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                            </svg>
                                            <i class="bi bi-file-earmark-text-fill">Lecture materials:</i>
                                        </li>
                                        @*@if (User.IsInRole("Teacher") || User.IsInRole("Admin") || (Model.Student.ShowTextMaterials && lecture))
                                            {*@
                                        @foreach (var file in lecture.TextMaterials)
                                        {
                                            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") ||
                                (Model.Student.ShowTextMaterials && file.DateTimeToShow <= DateTime.Now))
                                            {
                                                <ul>
                                                    @Html.ActionLink(file.FileName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "lecture" })
                                                </ul>
                                            }
                                        }
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                            </svg>
                                            <i class="bi bi-file-earmark-text-fill">Homework materials:</i>
                                        </li>
                                        @foreach (var file in Model.HWMaterials)
                                        {
                                            <ul>
                                                @Html.ActionLink(file.FileName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "lecture" })
                                            </ul>
                                        }
                                    </ul>
                                </div>
                                @if (User.IsInRole("Student"))
                                {
                                    @if (lecture.IsExam || lecture.IsRetakeExam)
                                    {
                                        <div class="col">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                </svg>
                                                <i class="bi bi-file-earmark-text-fill">Exam solution:</i>
                                            </li>
                                            <br />
                                            @if (lecture.Homeworks.Any())
                                            {
                                                @foreach (var file in lecture.Homeworks)
                                                {
                                                    <ul>
                                                        @Html.ActionLink(file.HomeworkName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "examSolution" })
                                                        <br />
                                                        <label>Grade: @file.Grade</label>
                                                        <br />
                                                        <label>Comment: @file.Comment</label>
                                                        <br />
                                                    </ul>
                                                }
                                            }
                                            @if (lecture.EndDateTimeForHW >= DateTime.Now && lecture.Homeworks.Count() == 0)
                                            {
                                                @using (Html.BeginForm("AddExamSolution", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.TextBox("file", "", new { type = "file" })
                                                    <input type="text" name="lectureId" value="@lecture.Id" style="visibility:hidden;" />
                                                    <input type="submit" value="Upload" />
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                                                </svg>
                                                <i class="bi bi-file-earmark-text-fill">Homework:</i>
                                            </li>
                                            <br />
                                            @if (lecture.Homeworks.Any())
                                            {
                                                @foreach (var file in lecture.Homeworks)
                                                {
                                                    <ul>
                                                        @Html.ActionLink(file.HomeworkName, "DownloadFile", new { fileName = file.Id + '.' + file.Extension, type = "homework" })
                                                        @if (file.Grade == 0 && lecture.EndDateTimeForHW >= DateTime.Now)
                                                        {
                                                            <a class="btn btn-outline-info" style="text-align:right; margin: 1em;" asp-route-lectureId="@file.LectureId" asp-route-courseId="@Model.Course.Id" asp-route-name="Index" asp-controller="Lecture" asp-action="DeleteHomework">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22H7a2 2 0 0 1-2-2V7H3V5h4V4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1h4v2h-2v13a2 2 0 0 1-2 2ZM7 7v13h10V7H7Zm2-3v1h6V4H9Zm6 14h-2V9h2v9Zm-4 0H9V9h2v9Z" /></svg>
                                                            </a>
                                                        }
                                                        <br />
                                                        <label>Grade: @file.Grade</label>
                                                        <br />
                                                        <label>Comment: @file.Comment</label>
                                                        <br />
                                                    </ul>
                                                }
                                            }
                                            @if ((lecture.EndDateTimeForHW >= DateTime.Now && lecture.Homeworks.Count() == 0) || (lecture.Homeworks.Count() == 0 && !lecture.IsExemption))
                                            {
                                                @using (Html.BeginForm("AddHomework", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.TextBox("file", "", new { type = "file" })
                                                    <input type="text" name="lectureId" value="@lecture.Id" style="visibility:hidden;" />
                                                    <input type="submit" value="Upload" />
                                                }
                                            }
                                            <br />

                                        </div>
                                    }
                                }
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        i++;
    }
}
<br />
<div>
    <a asp-controller="Course" asp-action="AllCourses" asp-route-studyProgramId="@Model.Course.StudyProgramId">Go Back</a>
</div>
