@model MMUniGraduation.Models.Create.CreateCourse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreateCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParetntID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParetntID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkipCoursEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkipCoursEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
